<h1 align="center">This is Sign In page SignIn#index</h1>
<p align="center">Turiya Turiya jaanda mere mode te bandook ve</p>

<<<<<<< HEAD
	<!-- HTML 5 shim for IE backwards compatibility -->
		<!-- [if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
		</script>
		<![endif]-->
</head>
<body>
	<div id="main_container">
		<div class="container" id="preview">

			<div class="row" id="img_preview">
				<div class="col-md-9">

					<h3>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Please sign in</h3>
          <div class="templatemo-service">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-4">
                              <div class="templatemo-service-item">
                                  <div>
                                  <%= image_tag("logo_admin.png", :alt => "admin login" ) %>
                                    &nbsp &nbsp &nbsp &nbsp &nbsp Admin Login
                                  </div>
                                  <div class="text-center">
                                  <!-- <a href="#" class="btn btn-primary" role="button">Sign in</a></div> -->
																	<%= link_to 'Sign in', sign_up_admin_path(@path) %></div>
                                  <br class="clearfix"/>
                              </div>
                              <div class="clearfix">  </div>
                          </div>

                        <div class="col-md-4">
                              <div class="templatemo-service-item">
                                  <div>
                                    <%= image_tag("logo_supervisor.png", :alt => "supervisor login") %>
                                    &nbsp &nbsp &nbsp &nbsp  Supervisor Login
                                  </div>
          <!-- <div class="text-center"><a href="#" class="btn btn-primary" role="button">sign in</a></div> -->
					<div class="text-center"><%= link_to 'Sign in', sign_up_supervisor_path(@path) %></div></div>
                                  <br class="clearfix"/>
                              </div>
                        </div>

                        <div class="col-md-4">
                              <div class="templatemo-service-item">
                                  <div>
                                    <%= image_tag("Logo_guard.png", :alt => "guard login") %>
                                      &nbsp &nbsp &nbsp &nbsp &nbsp  Guard Login
                                  </div>

          <!-- <div class="text-center"><a href="#" class="btn btn-primary" role="button">Sign in</a></div> -->
					<div class="text-center"><%= link_to 'Sign in', sign_up_guard_path(@path) %></div>
                                  <br class="clearfix"/>
                              </div>
                              <br class="clearfix"/>
                          </div>
                      </div>
                      <a href="#" class="btn btn-info" role="button">please click here to sign up</a>
                  </div>
              </div>

	           </div>

			</div>


		</div>



	</div>
	<script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/templatemo_script.js"></script>

</body>
</html>

<!-- Hiding text overflow: http://stackoverflow.com/questions/15308061/how-to-avoid-text-overflow-in-twitter-bootstrap -->
<!-- templatemo 393 fantasy -->
<!--

Fantasy Template

http://www.templatemo.com/tm-393-fantasy



<a href="#" class="btn btn-primary" role="button">Download</a>
<a href="#" class="btn btn-info" role="button">Preview</a>



<h1>lo bhenchod sign_up </h1>
<%= link_to 'Home', prithi_path(@path) %><br>
<%= link_to 'about_us', about_us_path(@path) %><br>
<%= link_to 'contact_us', contact_us_path(@path) %>
<%= link_to 'sign_up', sign_up_path(@path) %>


-->
=======
<h1 align="center"><%=button_to "New Supervisor", {:controller => "supervisors", :action => "index"}, :method => "get" %></h1>
>>>>>>> cfc88571c8359e9baa75b54bdbe44671b86c9ce2
