<head>
  <title>Supervisor Login</title>
</head>

<h1>supervisor Login</h1>
<%= form_tag prithi_path do %>
  <label for="email">Email</label><br>
  <%= email_field :user, :address, placeholder: "Email" %><br>
  <label for="password">Password</label><br>
  <%= password_field_tag :password%><br><br>
  <%= submit_tag "Login" %>
<% end %>

<br><%= link_to "Supervisor Sign Up", admin_signup_path%>
