<h1>Admin Sign Up</h1>

<%= form_for(:admin, :url => {:controller => 'admins', :action => 'create'}) do |f| %>

  <%= f.label :email %> <br>
  <%= f.text_field :email %><br>

  <%= f.label :password %><br>
  <%= f.password_field :password %><br>

  <%= f.label :password_confirmation %><br>
  <%= f.password_field :password_confirmation %><br>

  <%= f.submit %>
<% end %>

<% if @admin.errors.any? %>
    <ul>
    <% for message_error in @admin.errors.full_messages %>
      <li>* <%= message_error %></li>
    <% end %>
    </ul>
<% end %>
