<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />
	<title>About Fantasy</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<!-- Custom styles for this template -->
	<link href="css/justified-nav.css" rel="stylesheet" type="text/css">
	<link href="css/templatemo_style.css" rel="stylesheet" type="text/css">

	<!-- HTML 5 shim for IE backwards compatibility -->
		<!-- [if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
		</script>
		<![endif]-->
</head>
<body>
	<div id="main_container">
		<div class="container" id="about">

			<div class="templatemo-team" id="templatemo-about">
    <div class="container">
        <div class="row">
            <div class="templatemo-line-header">
                <div class="text-center">
                    <hr class="team_hr team_hr_left"/><span><h1> <b>MEET OUR TEAM </b>	</h1>	</span>
                    <hr class="team_hr team_hr_right" />
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
            <ul class="row row_team">
                <li class="col-lg-3 col-md-3 col-sm-6 ">
                    <div class="text-center">
                        <div class="member-thumb">
                             <%= image_tag("member1.jpg", :alt => "member 1",:width => "220", :height => "300", :class => "templatemo-logo") %>
													 </div>
                        <div class="team-inner">
                            <p class="team-inner-header">Mashab</p>
                            <p class="team-inner-subtext">Team member</p>
                        </div>
                    </div>
                </li>
                <li class="col-lg-3 col-md-3 col-sm-6 ">
                    <div class="text-center">
                        <div class="member-thumb">
													<%= image_tag("member2.jpg", :alt => "member2", :width => "220", :height => "300", :class => "templatemo-logo") %>
                            <div class="thumb-overlay">
                                <a href="#"><span class="social-icon-fb"></span></a>
                                <a href="#"><span class="social-icon-twitter"></span></a>
                                <a href="#"><span class="social-icon-linkedin"></span></a>
                            </div>
                        </div>
                        <div class="team-inner">
                            <p class="team-inner-header">Akshay</p>
                            <p class="team-inner-subtext">Team member</p>
                        </div>
                    </div>
                </li>
                <li class="col-lg-3 col-md-3 col-sm-6 ">
                    <div class="text-center">
                        <div class="member-thumb">
                            <%= image_tag("member3.jpg", :alt => "member3", :width => "220", :height => "300", :class => "templatemo-logo") %>
                            <div class="thumb-overlay">
                                <a href="#"><span class="social-icon-fb"></span></a>
                                <a href="#"><span class="social-icon-twitter"></span></a>
                                <a href="#"><span class="social-icon-linkedin"></span></a>
                            </div>
                        </div>
                        <div class="team-inner">
                            <p class="team-inner-header">Emad</p>
                            <p class="team-inner-subtext">Team member</p>
                        </div>
                    </div>
                </li>
                <li class="col-lg-3 col-md-3 col-sm-6 ">
                    <div class="text-center">
                        <div class="member-thumb">
                            <%= image_tag("member4.jpg", :alt => "member4", :width => "220", :height => "300", :class => "templatemo-logo") %>
                            <div class="thumb-overlay">
                                <a href="#"><span class="social-icon-fb"></span></a>
                                <a href="#"><span class="social-icon-twitter"></span></a>
                                <a href="#"><span class="social-icon-linkedin"></span></a>
                            </div>
                        </div>
                        <div class="team-inner">
                            <p class="team-inner-header">PrithiPal </p>
                            <p class="team-inner-subtext">Team member</p>
                        </div>
                    </div>
                </li>
            </ul>
    </div>
</div><!-- /.templatemo-team --><!-- /.templatemo-portfolio -->



		</div>



	</div>
    <!-- templatemo 393 fantasy -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/templatemo_script.js"></script>
<!--

Fantasy Template

http://www.templatemo.com/tm-393-fantasy

-->
</body>
</html>

<!--


<h1>Behn k laudon about us lo behenchod</h1>
<%= link_to 'about_us', about_us_path(@path) %>
-->
