

    <h1>Sign up for Supervisor</h1>
    <h3>*** To sign Up Every Field must be filled </h3>
    <h3>*** You must Signup with your unique Email </h3> 
    <h3>*** Password must have minimum length of 6<h3> <br>
    
    <%= form_for(@sign_upp_supervisor) do |f| %>
      <%= f.text_field :first_name, :placeholder => "First name" %><br>
      <%= f.text_field :last_name, :placeholder => "Last name" %><br>
      <%= f.email_field :email, :placeholder => "Email" %><br>
      <%= f.password_field :password, :placeholder => "Password" %><br>
      <%= f.submit "Create an account", class: "btn-submit" %><br>
    <% end %>

